<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EaseIM.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>482A1E2AC6554C3D6CEA42AA3E0E88D5E080741B</string>
				<key>dateExpires</key>
				<string>2024/10/26</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>482A1E2AC6554C3D6CEA42AA3E0E88D5E080741B</string>
						<key>dateExpires</key>
						<string>2024/10/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraDav1d.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JC854K845H</string>
						<key>name</key>
						<string>EaseMob Inc. (Company)</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>482A1E2AC6554C3D6CEA42AA3E0E88D5E080741B</string>
						<key>dateExpires</key>
						<string>2024/10/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraRtcKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JC854K845H</string>
						<key>name</key>
						<string>EaseMob Inc. (Company)</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>482A1E2AC6554C3D6CEA42AA3E0E88D5E080741B</string>
						<key>dateExpires</key>
						<string>2024/10/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AgoraSoundTouch.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JC854K845H</string>
						<key>name</key>
						<string>EaseMob Inc. (Company)</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.16</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>482A1E2AC6554C3D6CEA42AA3E0E88D5E080741B</string>
						<key>dateExpires</key>
						<string>2024/10/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Agorafdkaac.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JC854K845H</string>
						<key>name</key>
						<string>EaseMob Inc. (Company)</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>482A1E2AC6554C3D6CEA42AA3E0E88D5E080741B</string>
						<key>dateExpires</key>
						<string>2024/10/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Agoraffmpeg.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JC854K845H</string>
						<key>name</key>
						<string>EaseMob Inc. (Company)</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>482A1E2AC6554C3D6CEA42AA3E0E88D5E080741B</string>
						<key>dateExpires</key>
						<string>2024/10/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>EaseCallKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JC854K845H</string>
						<key>name</key>
						<string>EaseMob Inc. (Company)</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>482A1E2AC6554C3D6CEA42AA3E0E88D5E080741B</string>
						<key>dateExpires</key>
						<string>2024/10/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JC854K845H</string>
						<key>name</key>
						<string>EaseMob Inc. (Company)</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>482A1E2AC6554C3D6CEA42AA3E0E88D5E080741B</string>
						<key>dateExpires</key>
						<string>2024/10/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>HyphenateChat.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JC854K845H</string>
						<key>name</key>
						<string>EaseMob Inc. (Company)</string>
					</dict>
					<key>versionNumber</key>
					<string>4.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>482A1E2AC6554C3D6CEA42AA3E0E88D5E080741B</string>
						<key>dateExpires</key>
						<string>2024/10/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JC854K845H</string>
						<key>name</key>
						<string>EaseMob Inc. (Company)</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>482A1E2AC6554C3D6CEA42AA3E0E88D5E080741B</string>
						<key>dateExpires</key>
						<string>2024/10/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JC854K845H</string>
						<key>name</key>
						<string>EaseMob Inc. (Company)</string>
					</dict>
					<key>versionNumber</key>
					<string>3.7.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>482A1E2AC6554C3D6CEA42AA3E0E88D5E080741B</string>
						<key>dateExpires</key>
						<string>2024/10/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JC854K845H</string>
						<key>name</key>
						<string>EaseMob Inc. (Company)</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>482A1E2AC6554C3D6CEA42AA3E0E88D5E080741B</string>
						<key>dateExpires</key>
						<string>2024/10/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JC854K845H</string>
						<key>name</key>
						<string>EaseMob Inc. (Company)</string>
					</dict>
					<key>versionNumber</key>
					<string>5.19.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>482A1E2AC6554C3D6CEA42AA3E0E88D5E080741B</string>
						<key>dateExpires</key>
						<string>2024/10/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>TFHpple.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JC854K845H</string>
						<key>name</key>
						<string>EaseMob Inc. (Company)</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>482A1E2AC6554C3D6CEA42AA3E0E88D5E080741B</string>
						<key>dateExpires</key>
						<string>2024/10/26</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>JC854K845H.com.easemob.easeim.EMPushServerExt</string>
						<key>beta-reports-active</key>
						<true/>
						<key>com.apple.developer.team-identifier</key>
						<string>JC854K845H</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>EMPushServerExt.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>3ad2f2d0-fb71-4614-8dff-92e723ed30c2</string>
						<key>dateExpires</key>
						<string>2024/10/29</string>
						<key>name</key>
						<string>iOS Team Store Provisioning Profile: com.easemob.easeim.EMPushServerExt</string>
					</dict>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JC854K845H</string>
						<key>name</key>
						<string>EaseMob Inc. (Company)</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>JC854K845H.com.easemob.easeim</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.com.easemob.easeim</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array/>
				<key>com.apple.developer.networking.wifi-info</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>JC854K845H</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array>
					<string>iCloud.com.easemob.easeim</string>
				</array>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>JC854K845H.com.easemob.easeim</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>EaseIM.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>fa7300f1-4c36-49cb-8a75-32ccfdb0b117</string>
				<key>dateExpires</key>
				<string>2024/10/29</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.easemob.easeim</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>JC854K845H</string>
				<key>name</key>
				<string>EaseMob Inc. (Company)</string>
			</dict>
			<key>versionNumber</key>
			<string>4.5.0</string>
		</dict>
	</array>
</dict>
</plist>
